<section>
    <form>
      <div>
        <mat-card> 
       
          <mat-card-content>
              <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Create News
                    </mat-panel-title>
  
                  </mat-expansion-panel-header>
  
                  <p>
                    <app-create></app-create>
                  </p>
  
                </mat-expansion-panel>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div>
          <mat-card> 
           
            <mat-card-content>
                <mat-expansion-panel>
               
                      <mat-expansion-panel-header>
                          <mat-panel-title>
                              <button  mat-raised-button color="primary"> Post News</button>
                          </mat-panel-title>
               
                   
    
                    </mat-expansion-panel-header>
    
                    <p>Post News
                    </p>
    
                  </mat-expansion-panel>
            </mat-card-content>
          </mat-card>
          
        </div>
        <div>
            <mat-card> 
            
              <mat-card-content>
                  <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <button  mat-raised-button color="accent"> Update News</button>
                        </mat-panel-title>
      
                      </mat-expansion-panel-header>
      
                      <p>Update News
                      </p>
      
                    </mat-expansion-panel>
              </mat-card-content>
            </mat-card>
            
          </div>
          <div>
              <mat-card> 
             
                <mat-card-content>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                              <button  mat-raised-button color="warn"> Delete News</button>
                          </mat-panel-title>
        
                        </mat-expansion-panel-header>
        
                        <p>Delete News
                        </p>
        
                      </mat-expansion-panel>
                </mat-card-content>
              </mat-card>
              
            </div>
    </form>
  </section>