<section>
    <form>
      <div>
        <mat-card> 
       
          <mat-card-content>
              <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Create News
                    </mat-panel-title>
  
                  </mat-expansion-panel-header>
  
                  <p>
                <app-createnews></app-createnews>
                  </p>
  
                </mat-expansion-panel>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div>
        <mat-card> 
       
          <mat-card-content>
              <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                       Actions
                    </mat-panel-title>
  
                  </mat-expansion-panel-header>
  
                
  
                </mat-expansion-panel>
          </mat-card-content>
        </mat-card>
        
      </div>
    </form>
  </section>