<div class="carousel carousel-slider center">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">we serve you just the way you want it</a>
  </div>
  <div class="carousel-item"><img src="assets/images/l6.jpg"  style="height:350px;"></div>
  <div class="carousel-item"><img src="assets/images/l1.jpg" style="height:350px;"></div>
  <div class="carousel-item"><img src="assets/images/l2.jpg"  style="height:350px;"></div>
  <div class="carousel-item"><img src="assets/images/l4.jpg"  style="height:350px;"></div>
  <div class="carousel-item"><img src="assets/images/l5.jpg"  style="height:350px;"></div>
 
</div>