
 <form action="" fxLayoutAlign="center center">


  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
          <a routerLink="/"> <button mat-raised-button color="primary"> Go to homepage</button></a>
      </mat-card-title>
    
    </mat-card-header>
    <img mat-card-image src="assets/images/error.PNG" alt="error">
    <mat-card-content>
      <p>
        <strong> invalid username or password</strong>
       
      </p>
    </mat-card-content>
    <mat-card-actions>
      
        <a routerLink="/app-admin-login"> <button mat-raised-button color="primary">Try again</button></a>
     
     
      
    </mat-card-actions>
  </mat-card>
 </form>
