<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
            <a routerLink="/">
              <img src="assets/images/logo.png" alt="Logo" class="stylelogo">
            </a>
            <p class="grey-text text-lighten-4">FRADAL Logistics</p>
          <p class="grey-text text-lighten-4">FRADAL Logistics Ltd is a fully Ghanaian owned company, registered as a business in year and incorporated in year.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
    
            <li><a class="grey-text text-lighten-3" href="#!">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       Legal
                      </mat-panel-title>
                     
                    </mat-expansion-panel-header>
                  
                    <p>Legal Details</p>
                  
                  </mat-expansion-panel>
            </a></li>
            <li><a class="grey-text text-lighten-3" href="#!">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Contact
                      </mat-panel-title>
                     
                    </mat-expansion-panel-header>
                  
                    <p>Contact info</p>
                  
                  </mat-expansion-panel>
            </a></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2019 Logistics All right reserved
      <div class="grey-text text-lighten-4 right">
        <a href=""><img src="assets/images/m1.png" class="icons" alt="Mail"></a>
        <a href=""><img src="assets/images/f2.png" class="icons" alt="Facebook"></a>
        <a href=""><img src="assets/images/in3.png" class="icons" alt="Instagram"></a>
        <a href=""><img src="assets/images/t1.png" class="icons"  alt="Twitter"></a>
      </div>
      </div>
    </div>
    
   
            
  </footer>