<table mat-table [dataSource]="listData" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <div class="col s12 m6">  <ng-container matColumnDef="Body">
        <th mat-header-cell *matHeaderCellDef> about News</th>
        <td mat-cell *matCellDef="let element">
          <div  class="col s12 m6">
              <mat-expansion-panel>
                  <mat-expansion-panel-header>
                   latest news
  
                  </mat-expansion-panel-header>
  
                  <p>
                     {{element.Body}}
                 
                  </p>
                <div>
                  
                </div>
                </mat-expansion-panel>
          </div>
            </td>
      </ng-container></div>
    <div class="col s12 m6">  <ng-container matColumnDef="ImageUrl">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <img src="{{element.ImageUrl}}" alt="photo" style="width:90px; height:100px;  border-radius: 100px;">
          </div>
         
          </td>
      </ng-container></div>
  
   
 
   
   
  
  

   

    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  