<section>
  <form>
    <div>
      <mat-card> 
     
        <mat-card-content>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      Create an Ad
                  </mat-panel-title>

                </mat-expansion-panel-header>

                <p>
                  Create an advert
                </p>

              </mat-expansion-panel>
        </mat-card-content>
      </mat-card>
      
    </div>
    <div>
        <mat-card> 
         
          <mat-card-content>
              <mat-expansion-panel>
             
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <button  mat-raised-button color="primary"> Post an Ad</button>
                        </mat-panel-title>
             
                 
  
                  </mat-expansion-panel-header>
  
                  <p>Post an advert
                  </p>
  
                </mat-expansion-panel>
          </mat-card-content>
        </mat-card>
        
      </div>
      <div>
          <mat-card> 
          
            <mat-card-content>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          <button  mat-raised-button color="accent"> Update an Ad</button>
                      </mat-panel-title>
    
                    </mat-expansion-panel-header>
    
                    <p>Update an Avert
                    </p>
    
                  </mat-expansion-panel>
            </mat-card-content>
          </mat-card>
          
        </div>
        <div>
            <mat-card> 
           
              <mat-card-content>
                  <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <button  mat-raised-button color="warn"> Delete an Ad</button>
                        </mat-panel-title>
      
                      </mat-expansion-panel-header>
      
                      <p>Delet an Advert
                      </p>
      
                    </mat-expansion-panel>
              </mat-card-content>
            </mat-card>
            
          </div>
  </form>
</section>