<div class="carousel">
  <div class="carousel-item"><img src="assets/images/l6.jpg"  style="height:350px;"></div>
  <div class="carousel-item"><img src="assets/images/l1.jpg" style="height:350px;"></div>
  <div class="carousel-item"><img src="assets/images/l2.jpg"  style="height:350px;"></div>
  <div class="carousel-item"><img src="assets/images/l4.jpg"  style="height:350px;"></div>
  <div class="carousel-item"><img src="assets/images/l5.jpg"  style="height:350px;"></div>
</div>
<div style="background-color:black">
 <span> <hr></span>
</div>
<div class="row"style="padding:20px;">
  <div class="col s12 m4">
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>DIRECTOR</mat-card-title>
            <mat-card-subtitle>AWI JUSTIN DALLAS</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/logo.png" alt="Photo of A">
          <mat-card-content>
            <p>
              
            </p>
          </mat-card-content>
          <mat-card-actions>
             
          </mat-card-actions>
        </mat-card>
 </div>
 <div class="col s12 m4">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>FRANK SASU</mat-card-title>
          <mat-card-subtitle>TRANSPORT AND OPERATIONS MANAGER</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/logo.png" alt="Photo of Photo of B">
        <mat-card-content>
          <p>
            
          </p>
        </mat-card-content>
        <mat-card-actions>
           
        </mat-card-actions>
      </mat-card>
</div>
<div class="col s12 m4">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>KWESI OBENG</mat-card-title>
          <mat-card-subtitle>DEPUTY OPERATIONS MANAGER</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/logo.png" alt="Photo of C">
        <mat-card-content>
          <p>
           
          </p>
        </mat-card-content>
        <mat-card-actions>
           
        </mat-card-actions>
      </mat-card>
</div>

</div>
    