<section>
  <form [formGroup]="service.form1" (submit)="onSubmit()">
    <div class="col s12">
  <div><input type="hidden" formControlName="$key"></div>
<div><mat-label> News Title</mat-label></div>
<div> <input type="text" formControlName="Title"></div>
    </div>
   <div fxLayoutGap="20px">
   
      <div  class="col s12">
          <input type="file" formControlName="ImageUrl" (change)="onUpload($event)">
        </div>
        
      
   </div>
    
 
    <div class="col s12">
<div> <mat-label>Nes Body</mat-label></div>
<div> 
  <mat-form-field class="example-full-width">
    <textarea matInput formControlName="Body"></textarea>
  </mat-form-field>
</div>
    </div>
   
    <div class="col s12">
      <div>
        <div> <mat-label>Telephone:</mat-label></div>
      </div>
      <div>
        <div>
          <input type="text" formControlName="Telephone">
        </div>
      </div>
    </div>
    <div class="col s12">
      <div>
        <div> <mat-label>Email:</mat-label></div>
      </div>
      <div>
        <div>
          <div>
            <input type="text" formControlName="Email">
          </div>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div>
        <div> <mat-label>Website:</mat-label></div>
      </div>
      <div>
        <div>
          <div>
            <input type="text" formControlName="Website">
          </div>
        </div>
      </div>
    </div>

    <div class="col s12">
<button type="submit" mat-raised-button>Create News</button>
    </div>
    

  </form>
</section>