<div class="col s12 m4">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>

        </mat-card-header>
        <img mat-card-image src="assets/images/van1.png" alt="Photo of C" class="card-size">
        <mat-card-content>
            <p>
                information about   Courier and delivery services
            </p>
        </mat-card-content>
        <mat-card-actions>
          

        </mat-card-actions>
    </mat-card>
</div>
<div class="col s12 m4">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>

        </mat-card-header>
        <img mat-card-image src="assets/images/fr1.jpg" alt="Photo of C" class="card-size">
        <mat-card-content>
            <p>
                information about    Freight forwarding 
            </p>
        </mat-card-content>
        <mat-card-actions>
          

        </mat-card-actions>
    </mat-card>
</div>
<div class="col s12 m4">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>

        </mat-card-header>
        <img mat-card-image src="assets/images/pr1.jpg" alt="Photo of C" class="card-size">
        <mat-card-content>
            <p>
                information about  Project cargo
            </p>
        </mat-card-content>
        <mat-card-actions>
          

        </mat-card-actions>
    </mat-card>
</div>
<div class="col s12 m4">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>

        </mat-card-header>
        <img mat-card-image src="assets/images/ch1.jpg" alt="Photo of C" class="card-size">
        <mat-card-content>
            <p>
                information about   Courier and delivery services
            </p>
        </mat-card-content>
        <mat-card-actions>
          

        </mat-card-actions>
    </mat-card>
</div>
<div class="col s12 m4">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>

        </mat-card-header>
        <img mat-card-image src="assets/images/hu1.jpg" alt="Photo of C" class="card-size">
        <mat-card-content>
            <p>
                 information about   Cargo handling
            </p>
        </mat-card-content>
        <mat-card-actions>
          

        </mat-card-actions>
    </mat-card>
</div>