<footer class="page-footer" style="background-color:black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><img src="assets/images/logo.png" alt="Logo" class="stylelogo"></h5>
       
        </div>
        <div class="col l4 offset-l2 s12">
         
          <ul>
              <a class='dropdown-trigger btn'  style=" background-color:black" href='#' data-target='dropdown1'>About Us</a>

              <!-- Dropdown Structure -->
              <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
               
              </ul>
              <a class='dropdown-trigger btn'  style=" background-color:black" href='#' data-target='dropdown1'>Services</a>
       
              <!-- Dropdown Structure -->
              <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
               
              </ul>
             
              <a class='dropdown-trigger btn'  style=" background-color:black" href='#' data-target='dropdown1'>Contact</a>
       <!-- Dropdown Structure -->
       <ul id='dropdown1' class='dropdown-content'>
          <li><a href="#!">one</a></li>
          <li><a href="#!">two</a></li>
          <li class="divider" tabindex="-1"></li>
          <li><a href="#!">three</a></li>
          <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
          <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
             
          </ul>
          <a class='dropdown-trigger btn'  style=" background-color:black" href='#' data-target='dropdown1'>Who are we</a>
          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
             <li><a href="#!">one</a></li>
             <li><a href="#!">two</a></li>
             <li class="divider" tabindex="-1"></li>
             <li><a href="#!">three</a></li>
             <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
             <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
                
             </ul>
             <a class='dropdown-trigger btn'  style=" background-color:black" href='#' data-target='dropdown1'>What we do</a>
             <!-- Dropdown Structure -->
             <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="#!">three</a></li>
                <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
                   
                </ul>
             </ul>
        </div>
      </div>
    </div>
   
  
   
            
  </footer>
   <app-home></app-home>
  <router-outlet></router-outlet>
