<footer class="page-footer" style="background-color:black">
  <div class="container">
    <div class="row">


      <div class="col l6 s12">
        <a routerLink="/">
          <img src="assets/images/logo.png" alt="Logo" class="stylelogo">
        </a>
        <p class="grey-text text-lighten-4">Home</p>
      </div>


      <div class="col l4 offset-l2 s12">

        <ul>
          <a class='dropdown-trigger btn' style=" background-color:black" href='#' data-target='dropdown1'>About Us</a>

          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <li><a routerLink="/about-us">Vision & Mission</a></li>
            <li><a routerLink="/our-executives">Our Executives</a></li>

          </ul>
          <a class='dropdown-trigger btn' style=" background-color:black" href='/app-services'>Services</a>

       

          <a class='dropdown-trigger btn' style=" background-color:black" href='#'>Contact</a>
         
          <a class='dropdown-trigger btn' style=" background-color:black" href='#' >Who are we</a>
         
          <a class='dropdown-trigger btn' style=" background-color:black" href='#'>What we do</a>
         
        </ul>
      </div>
    </div>
  </div>




</footer>

<router-outlet></router-outlet>