<div class="carousel carousel-slider center">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">Who we are</a>
  </div>
  <div class="carousel-item"><img src="assets/images/l6.jpg" style="height:350px;"></div>
  <div class="carousel-item"><img src="assets/images/l1.jpg" style="height:350px;"></div>
  <div class="carousel-item"><img src="assets/images/l2.jpg" style="height:350px;"></div>
  <div class="carousel-item"><img src="assets/images/l4.jpg" style="height:350px;"></div>
  <div class="carousel-item"><img src="assets/images/l5.jpg" style="height:350px;"></div>

</div>
<div class="style-about-us">
  <div>
    <h3>Fradal Logistics At A Glance</h3>
  </div>
  <div>
    <p>Is a multi stream business service organisation, set up to facilitate trade by providing much needed
      intermediary service to sector operators. Fradal logistics primarily specialises in supply chain management,
      including sourcing, procurement, multimodal transportation, material handling, freight forwarding, haulage,
      haulage to distribution.We provide consultancy services in all areas of international trade and logistics and
      other related activities.</p>
    <p></p>
  </div>
  <div>
    <h3> Why Choose Fradal Logistics</h3>
  </div>
  <div>
    <p>Here at Fradal Logistics our business is based on the professionalism of our staff, the integrity of our
      drivers, honesty of our roots, and the fairness of our decisions.
      We are proud of the fact that our principals, drivers and office staff are fully committed to our mission. We
      always look for ways to improve, and strive to provide world class services in our industry
    </p>
  </div>
  <div>
    <h3>Our Vision</h3>
    <p>To be the leading facilitator of international trade through the demystification of supply chain in Africa. </p>
  </div>
  <div>
    <h3>Our Mission</h3>
    <P>To provide excellent logistical services, freight forwarding and allied transport services by engaging the
      safest and the most reliable modern technology for maximum customer satisfaction.</P>
  </div>
</div>